body {
    margin: 0;
}
.mainbox {

    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.card {

    height: 400px;
    width: 250px;
    border: solid 1px black;

}
.head {
    text-align: center;
    font-family: Cambria;

    font-size: 23px;
    margin-top: 80px;
}

.paragraph {
    text-align: center;
    font-family: Cambria;
    color: gray;
    font-size: 15px;
    margin-top: 80px;
}
.button {
    height: 40px;
    width: 200px;

    text-align: center;
    font-family: Cambria;
    font-size: 18px;
    margin-top: 80px;

    border: solid 1px black;
    margin-left: 20px;
    margin-right: 20px;
 }
