body {

}

.bloc1 {
    height: 200px;
    width: 600px;
    background: #2269ba;

    padding: 50px;
    box-sizing: border-box;
    margin: 50px 400px;


}

.bloc2 {
    height: 100px;
    width: 600px;

    display: flex;
    justify-content: space-between;
    margin: 10px 400px 10px 400px ;
}
.box {
    height: 100px;
    width: 150px;
    background: #16457a;
}
.bloc3 {
    height: 300px;
    width: 600px;
    background: #2269ba;

    padding: 50px;
    box-sizing: border-box;

    margin: 50px 400px;
}

